<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="about-header">About Us</h1>

    <p class="about-desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque totam expedita maxime facere quae saepe quod
        exercitationem praesentium impedit minima! Ipsam error nesciunt, maxime fugit accusantium natus sapiente
        magnam labore!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores error eos ullam ad consectetur
        voluptate? Molestiae labore sunt consequatur non nemo atque, quaerat dolor placeat maiores architecto quis
        optio sint.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quidem porro natus ab incidunt sunt expedita
        deserunt? Aperiam, eos numquam facere quos voluptatibus asperiores aliquid esse magni at, placeat tempora.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos in amet quae! Numquam itaque esse
        maiores at atque nam cumque voluptate eaque consequuntur architecto beatae illum, quod ea, maxime a.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione fugit non repellendus. Adipisci, sequi
        amet optio quaerat officiis ipsam voluptatem, deserunt quo voluptas odio delectus dolores ipsa asperiores
        reprehenderit! Perferendis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore dolore dolor vitae, sit recusandae
        similique facere id voluptas, odit inventore beatae culpa debitis. Eos et odit sit nisi id eum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quis quibusdam ad illo laudantium rerum
        necessitatibus, ut perspiciatis, doloribus rem voluptates quo minima deserunt adipisci cupiditate atque
        possimus? Omnis, eveniet.
    </p>

</div>

<%- include("footer") -%>