<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
    <% }) %>
<% } %>



<%- include("header") -%>

<div class="container">
    <div class="py-5 text-center">
        
        <h2>Become a Guide</h2>
        <p class="lead">Please fill out the form below.</p>
    </div>

    
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Basic Information</h4>
            <form action= "/auth/guide_register" method = "POST" class="needs-validation" >
          
            
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Eg: Butwal-8, Rupandehi" name= "address" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">District</label>
                    <input type="text" class="form-control" id="district" placeholder="Your district name", Rupandehi" name= "district" required>
                    <div class="invalid-feedback">
                        Please enter your district.
                    </div>
                </div>
            
                <div class="mb-3">
                    <label for="address2">Contact Number</label>
                    <input type="text" class="form-control" id="address2" placeholder="Eg: 9867227502" name="contactNumber" required>
                </div>
            
                <div class="mb-3">
                    <label for="picture">Upload your Picture:</label>
                    <input type="file" class="img-upload-btn" id="picture" name="guidePicture">
                </div>
            
                <hr class="mb-4">
            
                <h4 class="mb-3">Verification</h4>
            
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked
                            required>
                        <label class="custom-control-label" for="credit">Citizenship Certificate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on your Certificate</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="citizenshipName" required>
                        <small class="text-muted">Full name as displayed on certicicate</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Citizenship number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" name="citizenshipNumber" required>
                        <div class="invalid-feedback">
                            Citizenship number is required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>

        </div>
    </div>

<%- include('footer') -%>