tourist/normal user register form here

<div class="container">
<form action= "/auth/tourist_register" method ="POST" >
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name ="username">
    </div>

    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name = "firstname">
    </div>

    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name = "lastname">
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name = "email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name = "password">
    </div>

    <button type="submit" class="btn btn-primary">Register User</button>
        
    </form>
</div>