<%- include('header') -%>

<div class="column-container">

    <div class="column1">

        <div class="user_card">
            <span class="aayam_picture"><img src="img/user.jpg" alt="user circle"></span>
            <div class="profile">
                <p id="name">Aayam Adhikari</p>
                <p id="address">Address : Butwal</p>
                <p id="email">Email: aayamadhikari7@gmail.com</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit placeat mollitia, deleniti impedit
                    cupiditate quasi amet tenetur qui quia dignissimos quas. Illo accusamus enim dolor odit.
                    Pariatur, iste officiis? Laudantium harum id ratione quae! Amet, ad minus. Ea aliquid laudantium
                    quibusdam delectus odio perferendis qui totam hic placeat alias a eligendi ducimus nobis ratione
                    unde impedit, iste quas rem beatae ullam eos temporibus cupiditate nesciunt. Aspernatur nesciunt
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis similique quae molestias
                    ad quaerat eaque debitis quasi fugit numquam, atque, eum laudantium ipsum commodi at labore.
                    Dolorem dicta esse quam explicabo? Cumque nesciunt delectus dolor deleniti iure, laborum rerum
                    possimus optio officiis eligendi magnam labore facilis ratione, in harum quaerat corrupti error,
                    amet consectetur!</p>
                <p></p>


            </div>
        </div>

    </div>



</div>
</div>

<%- include('footer') -%>